@page
@model Triviapp.PlayModel

@{
    ViewData["Title"] = "Play";
}

<h1>@Html.DisplayFor(model => model.Quiz.Title)</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quiz.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quiz.Category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quiz.DateAdded)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quiz.DateAdded)
        </dd>
    </dl>
        @foreach (var item in Model.Quiz.Questions)
        {
            <div class="questionContainer">
                <dl class="row">
                    <dt class="col-sm-2">
                        Question
                    </dt>
                    <dd class="col-sm-10">
                        @item.Title
                    </dd>
                </dl>
                <dl class="row">
                    @foreach (var answItem in item.Answers)
                    {
                        <dt class="col-sm-3">
                            @answItem.Title
                        </dt>
                    }
                </dl>
            </div>
        }
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Quiz.ID">Edit</a> |
    <a asp-page="Browse">Back to List</a>
</div>
