@page
@model Triviapp.PlayModel

@{
    ViewData["Title"] = "Play";
}
<!--QUIZ INFORMATION-->
<h1>@Html.DisplayFor(model => model.Quiz.Title)</h1>
<div class="row ">
    <div class="col-md-4">
        <span style="width:auto; height:auto; background-color:darkblue; color:#ffffff; padding:2px;">
            @Html.DisplayFor(model => model.Quiz.Category)
        </span>
    </div>
</div>
<div class="row">
    <div class="col-md-2 font-weight-bold">
        @Html.DisplayNameFor(model => model.Quiz.DateAdded):
    </div>
    <div class="col-md-2">
        @Html.DisplayFor(model => model.Quiz.DateAdded)
    </div>
</div>
<span id="scoreSpan">Score: 0</span>

<hr />
<!--QUIZ CONTAINER-->
<div class="row question-row text-lg-center">
    <div id="container">
        <div id="question-container" class="hide">
            <div id="question">Question</div>
            <div id="answer-buttons" class="btn-grid">
                <button class="btn-answer"></button>
                <button class="btn-answer"></button>
                <button class="btn-answer"></button>
                <button class="btn-answer"></button>
            </div>
        </div>
        <div class="controls">
            <button id="start-btn" class="start-btn">Start</button>
            <button id="next-btn" class="next-btn hide">Next</button>
        </div>
    </div>
</div>

<hr />
<!--NAV BUTTONS-->
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Quiz.ID">Edit</a>
    <a asp-page="Browse" class="btn btn-primary">Quit</a>
</div>

<!--SCRIPT FOR EXTRACTING C# MODEL DATA INTO JAVASCRIPT 2D ARRAY-->
<script>
        var True = true, False = false;
        let questionArray = [
            @foreach (var questionModel in Model.Quiz.Questions)
            {
                @:{
                    @:question: "@questionModel.Title" ,
                    @:answers: [@foreach (var answerModel in questionModel.Answers) {
                                    @:{ text: "@answerModel.Title" , correct: @answerModel.IsCorrect },
                                }
                    @:]
                @:},
            }
        ]
</script>
<script src="~/js/site.js" type="text/javascript"></script>