@page
@model Triviapp.PlayModel

@{
    ViewData["Title"] = Model.Quiz.Title;
}
<!--QUIZ INFORMATION-->
<div class="row">
    <div class="col-sm-11">
        <!--CATEGORY-->
        <div class="row">
            <h2>
                <span class="badge badge-warning">
                    @Html.DisplayFor(model => model.Quiz.Category)
                </span>
            </h2>
        </div>
        <!--TILE-->
        <div class="row">
            <h1>@Html.DisplayFor(model => model.Quiz.Title)</h1>
        </div>
    </div>
    <!--QUIT-->
    <div class="col-1 float-right">
        <a asp-page="Browse" class="btn btn-primary">Quit</a>
    </div>
</div>
<hr />
<!--QUIZ CONTAINER-->
<div class="row question-row text-lg-center">
    <div id="container" class="bg-dark text-white">
        <!--END SCREEN-->
        <div id="completed-container" class="hide">
            <h2 id="scoreTitle"></h2>
            <h1 id="score"></h1>
        </div>
        <!--QUESTIONS-->
        <div id="question-container" class="hide">
            <div id="question">Question</div>
            <div id="answer-buttons" class="btn-grid">
                <button class="btn-answer"></button>
                <button class="btn-answer"></button>
                <button class="btn-answer"></button>
                <button class="btn-answer"></button>
            </div>
        </div>
        <!--CONTROLS-->
        <div id="controls">
            <button id="start-btn" class="start-btn control-btn">Start</button>
            <button id="next-btn" class="next-btn hide control-btn">Next</button>
            <button id="quit-btn" class="quit-btn hide control-btn" asp-page="Browse">Quit</button>
        </div>
    </div>
</div>
<!--SCRIPT FOR EXTRACTING C# MODEL DATA INTO JAVASCRIPT 2D ARRAY-->
<script>
        var True = true, False = false;
        let questionArray = [
            @foreach (var questionModel in Model.Quiz.Questions)
            {
                @:{
                    @:question: "@questionModel.Title" ,
                    @:answers: [@foreach (var answerModel in questionModel.Answers) {
                                    @:{ text: "@answerModel.Title" , correct: @answerModel.IsCorrect },
                                }
                    @:]
                @:},
            }
        ]
</script>
<script src="~/js/site.js" type="text/javascript"></script>